*{
    box-sizing: border-box;
    /* border: 1px solid greenyellow; */
}

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page{
    max-width: 800px;
    padding: 16px;
}

header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.back-link{
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: x-large;
    min-width: 30px;
    min-height: 30px;
    text-decoration: none;
    color: black;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.back-link:hover{
    background-color: black;
    color: white;
}

.detail-info{
    font-size: x-large;
}

main{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.colored-dot{
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
}