*{
    box-sizing: border-box;
    /* border: 1px solid greenyellow; */
}

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page{
    max-width: 800px;
    padding: 16px;
}

.todo-card{
    margin-bottom: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

/* .detail-btn{
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: x-large;
    width: 30px;
    height: 30px;
    line-height: 10px;
} */

/* .detail-btn:hover{
    background-color: black;
    color: white;
} */

.detail-link{
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: x-large;
    min-width: 30px;
    min-height: 30px;
    text-decoration: none;
    color: black;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.detail-link:hover{
    background-color: black;
    color: white;
}

.sort-btn{
    padding: 8px;
    border-radius: 30px;
    background-color: white;
}